html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

video {
  max-width: 100%;
  height: auto;
}

.responsive-media {
  position: relative;
  max-width: 100%;
  height: 0;
  /*
    Formato widescreen 16:9
    16 ---- 100%
    9  ---- 56.25%
  */
  padding-bottom: 56.25%;
}

.responsive-media > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.aspect-ratio-16-9 {
  background-color: rebeccapurple;
  aspect-ratio: 16 / 9;
}