html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@supports (grid-template-columns: subgrid) {
  html {
    background-color: black;
    color: greenyellow;
  }
}

@supports not (grid-template-columns: subgrid) {
  html {
    background-color: darkolivegreen;
    color: white;
  }
}

@supports (display: grid) and (grid-template-columns: subgrid) {
  html {
    background-color: slateblue;
    color: lightseagreen;
  }
}

@supports (display: grid) or (grid-template-columns: subgrid) {
  html {
    background-color: white;
    color: black;
  }
}