html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.card {
  border: thin solid #000;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  contain: layout inline-size style;
}

.card-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0 50%;
}

.card-content {
  padding: 1rem;
}

@container (min-width: 600px) {
  .card-container {
    display: flex;
  }

  .card-container > * {
    width: 50%;
    flex-basis: 50%;
  }
}