html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

[class^="box"] {
  margin: 3rem auto;
  background-color: orangered;
}

.box-flexible-1 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
  /* Toma las medidas de ancho y alto, omite las minimas y maximas */
  width: 300px;
  height: 300px;
}

.box-flexible-2 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
  width: 50%;
  height: 20vh;
}