html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@media print {
  @page {
    size: A6 landscape;
  }

  body {
    font-size: 10pt;
    font-family: sans-serif;
    background-color: #000;
    color: greenyellow;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background-color: #000;
    color: teal;
  }
}

@media screen and (prefers-color-scheme: light) {
  html {
    background-color: #fff;
    color: darkblue;
  }
}

@media screen and (prefers-color-scheme: no-preference) {
  html {
    background-color: #fff;
    color: darkblue;
  }
}

/* Mobile First */
@media screen and (min-width: 480px) {
  html {
    background-color: lightpink;
  }
}

/* Desktop First */
@media screen and (max-width: 1024px) {
  html {
    background-color: lightgreen;
  }
}