html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

[class^="box"] {
  margin: 3rem auto;
  background-color: orangered;
}

.box-flexible {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
}