html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.box-fluid {
  background-color: #ff4500;
  margin-left: auto;
  margin-right: auto;
  width: clamp(400px, 60vw, 600px);
  height: clamp(200px, 30vh, 300px);
}